/**/
/*Cambios en el Body*/
body{
    overflow-x: hidden;
    background-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

/* QUITAR EL PADDING DE CONTAINER*/
.container-fluid {
    padding: 0;
}

#barra-busqueda{
    margin-right: 100px;
}

/* BOTON CARRITO Y LOGIN */
#botones{
    padding: 20px 50px 20px 100px ;
}

.boton_tamaño_usuario{
    width: 150px;
    margin-right: 7px;
}

.boton_tamaño_carrito{
    width: 150px;
}

.botones-nav2{
    margin: 15px;
}

/*Clase del cuadrado central*/
.logo{
    align-items: center;
}

#botones1{
    padding-left: 40%;
}

.user_title{
    padding-left: 5%;
}

h3{
    color: white;
}

a:hover{
    background-color: transparent;
}

a{
    text-decoration-color: aliceblue;
}

/*Cuadrado Navbar y logo*/
.navb{
    position: relative;
    padding: 0px 0px 0px 0px;
    background: rgba(0, 0, 0, 0.5);
    margin: 0px 0px 0px 0px;

}

.navb2{
    position: relative;
    margin-top: 10px;
    padding: 15px 10px 15px 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

/*Centro de la pagina*/
.center{
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
    padding: 10px 30px 50px 30px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

/*Botones*/
button{
    margin-left: 5px;
}

/*Configuracion modal Titulo/ Header*/
#body-modal, #title-modal{
    color: black;
    margin-left: 25%;
}

/*Cositas Cards*/
.card {
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.card-img {
    height: 350px;
    padding: 5px 0px 0px 0px;
}



/*Extras*/
h1{
    color: white;
    justify-content: center;
    text-align: center;
}

h2{
    color: black;
    justify-content: center;
    text-align: center;
}

.container{
    display: flex;
    width: 100%;
}

.row>* {
    padding: 0;

}   

video{
    width: 200px;
    margin: 25px 55% 25px 30%;
    border-radius: 20px;
}

.cont_nosotros{
    margin: 50px;
    padding: 80px;
}

#titulo-nosotros h1{
    margin: 50px 0px 0px 0px;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.texto1{
    margin: 150px 0px 0px 0px;
}

h2{
    color: white;
}
