body{
    width: 100%;
    height: 100%;
    --s: 60px;
    --c1: #180a22;
    --c2: #5b42f3;
    --_g: radial-gradient(
      25% 25% at 25% 25%,
      var(--c1) 99%,
      rgba(0, 0, 0, 0) 101%
    );
    background: var(--_g) var(--s) var(--s) / calc(2 * var(--s))
        calc(2 * var(--s)),
      var(--_g) 0 0 / calc(2 * var(--s)) calc(2 * var(--s)),
      radial-gradient(50% 50%, var(--c2) 98%, rgba(0, 0, 0, 0)) 0 0 / var(--s)
        var(--s),
      repeating-conic-gradient(var(--c2) 0 50%, var(--c1) 0 100%)
        calc(0.5 * var(--s)) 0 / calc(2 * var(--s)) var(--s);
  }
  
  .login {
      width: 340px;
      height: 550px;
      background: #2c2c2c;
      padding: 47px;
      padding-bottom: 57px;
      color: #fff;
      border-radius: 17px;
      font-size: 1.3em;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .login input[type="text"],
    .login input[type="password"] {
      opacity: 1;
      display: block;
      border: none;
      outline: none;
      width: 100%;
      padding: 13px 18px;
      margin: 20px 0 0 0;
      font-size: 0.8em;
      border-radius: 100px;
      background: #3c3c3c;
      color: #fff;
    }
    
    
    .login input[type=submit],
    .login input[type=button],
    .h1 {
      border: 0;
      outline: 0;
      width: 100%;
      margin: 40px 0 0 0;
      border-radius: 500px;
      font-weight: 600;
      animation: bounce2 1.6s;
    }
    
    .h1 {
      padding: 0;
      position: relative;
      top: -35px;
      display: block;
      margin-bottom: -0px;
      font-size: 1.3em;
    }
    
    
    
    .login input[type=text] {
      animation: bounce 1s;
    }
    
    .login input[type=password] {
      animation: bounce1 1.3s;
    }
    
    .ui {
      font-weight: bolder;
      background: -webkit-linear-gradient(#B563FF, #535EFC, #0EC8EE);
      -webkit-text-fill-color: transparent;
      border-bottom: 4px solid transparent;
      border-image: linear-gradient(0.25turn, #535EFC, #0EC8EE, #0EC8EE);
      border-image-slice: 1;
      display: inline;
    }
    
    
    @keyframes bounce {
      0% {
        transform: translateY(-250px);
        opacity: 0;
      }
    }
    
    @keyframes bounce1 {
      0% {
        opacity: 0;
      }
    
      40% {
        transform: translateY(-100px);
        opacity: 0;
      }
    }
    
    @keyframes bounce2 {
      0% {
        opacity: 0;
      }
    
      70% {
        transform: translateY(-20px);
        opacity: 0;
      }
    }
  
    /*Clases exportadas de inicio.css*/
   /**/
  
     /*Clases para navbar principal*/
    .navb{
      position: relative;
      padding: 0px 0px 0px 0px;
      background: rgba(0, 0, 0, 0.5);
      margin: 0px 0px 0px 0px;
    }
  
    #botones1{
      padding-left: 40%;
    }
  
    .logo{
      align-items: center;
    }
  
    .btn{
      --bs-btn-color: white;
    }
    
    .center{
    margin: 20px 0px 10px 0px;
    border-radius: 10px;
    padding: 10px 0px 10px;
    padding-left: 36%;
    }
  